[Unit]
Description=Frp service
After=network.target

[Service]
Type=simple
#Set the path to your configurator.py location
ExecStart=/home/homeassistant/.homeassistant/frp/frpc -c /home/homeassistant/.homeassistant/frp/frpc.ini

[Install]
WantedBy=multi-user.target
